<h3>AbilityStatInfo</h3>
<div>
    <table class="table table-bordered table-sm">

        <tr>
            <td>AP Use</td>
            <td>@Stats.ApUse</td>
        </tr>

        <tr>
            <td>Attack Ratio</td>
            <td>@Stats.AttackRatio</td>
        </tr>

        <tr>
            <td>Defense Ratio</td>
            <td>@Stats.DefenseRatio</td>
        </tr>

        <tr>
            <td>Magic Attack Ratio</td>
            <td>@Stats.MagicAttackRatio</td>
        </tr>

        <tr>
            <td>Magic Defense Ratio</td>
            <td>@Stats.MagicDefenseRatio</td>
        </tr>

        <tr>
            <td>Speed Ratio</td>
            <td>@Stats.SpeedRatio</td>
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.Stats.PbAbilityStats Stats { get; set; }

}

