<h3>PlayerStatInfo</h3>
<div>
    <table class="table table-bordered table-sm">
        <tr>
            <td>HP</td>
            <td>@Player.GetHpTotal()</td>
        </tr>

        <tr>
            <td>AP</td>
            <td>@Player.GetApTotal()</td>
        </tr>

        <tr>
            <td>Attack</td>
            <td>@Player.GetAttackTotal()</td>
        </tr>

        <tr>
            <td>Defense</td>
            <td>@Player.GetDefenseTotal()</td>
        </tr>

        <tr>
            <td>Magic Attack</td>
            <td>@Player.GetMagicAttackTotal()</td>
        </tr>

        <tr>
            <td>Magic Defense</td>
            <td>@Player.GetMagicDefenseTotal()</td>
        </tr>

        <tr>
            <td>Speed</td>
            <td>@Player.GetSpeedTotal()</td>
        </tr>

        <tr>
            <td>Affinity Fire</td>
            <td>@Player.GetAffinityFireTotal()</td>
        </tr>

        <tr>
            <td>Affinity Ice</td>
            <td>@Player.GetAffinityIceTotal()</td>
        </tr>

        <tr>
            <td>Affinity Lightning</td>
            <td>@Player.GetAffinityLightningTotal()</td>
        </tr>

        <tr>
            <td>Affinity Earth</td>
            <td>@Player.GetAffinityEarthTotal()</td>
        </tr>

        <tr>
            <td>Affinity Light</td>
            <td>@Player.GetAffinityLightTotal()</td>
        </tr>

        <tr>
            <td>Affinity Dark</td>
            <td>@Player.GetAffinityDarkTotal()</td>
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.General.PbPlayer Player { get; set; }

}
