<h3>PlayerInfo</h3>

<div>
    <table class="table table-bordered table-sm">
        <tr>
            <td>Level</td>
            <td>@Player.Level</td>
        </tr>

        <tr>
            <td>Race</td>
            <td>@Player.Race.Name</td>
        </tr>

        <tr>
            <td>Class</td>
            <td>@Player.Class.Name</td>
        </tr>

        <tr>
            <td>Exp</td>
            <td>@Player.Exp</td>
        </tr>

        <tr>
            <td>Credits</td>
            <td>@Player.Credits</td>
        </tr>
    </table>

    <ProjectBlazor.Pages.Stats.PlayerStatInfo Player="@Player" />
</div>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.General.PbPlayer Player { get; set; }

}
