<h3>StatInfo</h3>
<div>
    <table class="table">
        <tr>
            <td>HP</td>
            <td>@Stats.Hp</td>
        </tr>

        <tr>
            <td>Attack</td>
            <td>@Stats.Attack</td>
        </tr>

        <tr>
            <td>Defense</td>
            <td>@Stats.Defense</td>
        </tr>

        <tr>
            <td>Magic Attack</td>
            <td>@Stats.MagicAttack</td>
        </tr>

        <tr>
            <td>Magic Defense</td>
            <td>@Stats.MagicDefense</td>
        </tr>

        <tr>
            <td>Speed</td>
            <td>@Stats.Speed</td>
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.Stats.PbStats Stats { get; set; }

}

