@using Microsoft.AspNetCore.Html

<h3>StatInfo</h3>
<div>
    <table class="table table-bordered table-sm">
        <tr>
            <td>HP</td>
            <td>@Stats.Hp</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.Hp, StatsToCompare.Hp))
                </td>
            }
        </tr>

        <tr>
            <td>AP</td>
            <td>@Stats.Ap</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.Ap, StatsToCompare.Ap))
                </td>
            }
        </tr>

        <tr>
            <td>Attack</td>
            <td>@Stats.Attack</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.Attack, StatsToCompare.Attack))
                </td>
            }
        </tr>

        <tr>
            <td>Defense</td>
            <td>@Stats.Defense</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.Defense, StatsToCompare.Defense))
                </td>
            }
        </tr>

        <tr>
            <td>Magic Attack</td>
            <td>@Stats.MagicAttack</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.MagicAttack, StatsToCompare.MagicAttack))
                </td>
            }
        </tr>

        <tr>
            <td>Magic Defense</td>
            <td>@Stats.MagicDefense</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.MagicDefense, StatsToCompare.MagicDefense))
                </td>
            }
        </tr>

        <tr>
            <td>Speed</td>
            <td>@Stats.Speed</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.Speed, StatsToCompare.Speed))
                </td>
            }
        </tr>

        <tr>
            <td>Affinity Fire</td>
            <td>@Stats.AffinityFire</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.AffinityFire, StatsToCompare.AffinityFire))
                </td>
            }
        </tr>

        <tr>
            <td>Affinity Ice</td>
            <td>@Stats.AffinityIce</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.AffinityIce, StatsToCompare.AffinityIce))
                </td>
            }
        </tr>

        <tr>
            <td>Affinity Lightning</td>
            <td>@Stats.AffinityLightning</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.AffinityLightning, StatsToCompare.AffinityLightning))
                </td>
            }
        </tr>

        <tr>
            <td>Affinity Earth</td>
            <td>@Stats.AffinityEarth</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.AffinityEarth, StatsToCompare.AffinityEarth))
                </td>
            }
        </tr>

        <tr>
            <td>Affinity Light</td>
            <td>@Stats.AffinityLight</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.AffinityLight, StatsToCompare.AffinityLight))
                </td>
            }
        </tr>

        <tr>
            <td>Affinity Dark</td>
            <td>@Stats.AffinityDark</td>
            @if (StatsToCompare != null)
            {
                <td>
                    @((MarkupString)GetStatsDifferenceFormatted(Stats.AffinityDark, StatsToCompare.AffinityDark))
                </td>
            }
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.Stats.PbStats Stats { get; set; }

    [Parameter]
    public ProjectBlazor.Data.Game.Stats.PbStats StatsToCompare { get; set; }

    public string GetStatsDifferenceFormatted(int stat1, int stat2)
    {
        string difference;

        if (stat1 > stat2)
        {
            difference = ($"<span class=\"text-success\">+ {stat1 - stat2}</span>");
        }
        else if (stat1 < stat2)
        {
            difference = ($"<span class=\"text-danger\">- {Math.Abs(stat1 - stat2)}</span>");
        }
        else
        {
            difference = ($"<span class=\"text-info\"></span>");
        }

        return difference;
    }
}

