@page "/Battle/BattleScreen"

@using ProjectBlazor.Data.Game
@using ProjectBlazor.Data.Game.General
@inject ProjectBlazor.Data.Game.General.PbGame ProjectBlazorGame
@inject NavigationManager NavManager

<h3>BattleScreen</h3>

<table class="table table-bordered table-sm">
    <tr>
        <td>
            Player
        </td>
        <td>
            Enemy
        </td>
    </tr>
    <tr>
        <td>
            HP |  @ProjectBlazorGame.Battle.Player.GetHpCurrent() / @ProjectBlazorGame.Battle.Player.GetHpTotal()
        </td>
        <td>
            HP |  @ProjectBlazorGame.Battle.Enemy.GetHpCurrent() / @ProjectBlazorGame.Battle.Enemy.GetHpTotal()
        </td>
    </tr>
    <tr>
        <td>
            <ProjectBlazor.Pages.Battle.AbilityButtons Abilities="@ProjectBlazorGame.Battle.Player.Abilities" UseAbilityFunction="@UseAbility" />
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>

@code {
    private void UseAbility(string abilityName)
    {
        if (ProjectBlazorGame.Battle.GetBattleResult() == PbTypes.BATTLE_RESULT.ONGOING)
        {
            ProjectBlazorGame.Battle.InputPlayerAction(abilityName);
        }

        if (ProjectBlazorGame.Battle.GetBattleResult() != PbTypes.BATTLE_RESULT.ONGOING)
        {
            EndBattle();
        }
    }

    private void EndBattle()
    {
        ProjectBlazorGame.RewardPlayer(ProjectBlazorGame.Battle.GetBattleReward());
        ProjectBlazorGame.ResetBattle();
        NavManager.NavigateTo("/");
    }
}
